@import "./transitions.scss";
@import "./fonts.scss";

:root {
    // fallback
    --tg-theme-accent-text-color: #6ab2f2;
    --tg-theme-bg-color: #17212b;
    --tg-theme-button-color: #5288c1;
    --tg-theme-button-text-color: #ffffff;
    --tg-theme-destructive-text-color: #ec3942;
    --tg-theme-header-bg-color: #17212b;
    --tg-theme-hint-color: #708499;
    --tg-theme-link-color: #6ab3f3;
    --tg-theme-secondary-bg-color: #232e3c;
    --tg-theme-section-bg-color: #17212b;
    --tg-theme-section-header-text-color: #6ab3f3;
    --tg-theme-subtitle-text-color: #708499;
    --tg-theme-text-color: #f5f5f5;
    --tg-bg-color: #17212b;
    --tg-bottom-bar-color: #232e3c;
    --tg-header-color: #17212b;
}

$accent-text-color: var(--tg-theme-accent-text-color);
$button-color: var(--tg-theme-button-color);
$button-text-color: var(--tg-theme-button-text-color);
$destructive-text-color: var(--tg-theme-destructive-text-color);
$header-bg-color: var(--tg-theme-header-bg-color);
$hint-color: var(--tg-theme-hint-color);
$link-color: var(--tg-theme-link-color);
$secondary-bg-color: var(--tg-theme-secondary-bg-color);
$section-bg-color: var(--tg-theme-section-bg-color);
$section-header-text-color: var(--tg-theme-section-header-text-color);
$subtitle-text-color: var(--tg-theme-subtitle-text-color);
$text-color: var(--tg-theme-text-color);
$bg-color: var(--tg-bg-color);
$bottom-bar-color: var(--tg-bottom-bar-color);
$header-color: var(--tg-header-color);

html { font-family: "Inter", "system-ui"; }

@supports (font-variation-settings: normal) {
  html { font-family: "InterVariable", "system-ui"; }
}

body {
    background-color: $bg-color;
    color: $text-color;
}

#app > div {
    display: flex;
    flex-direction: column;
    height: 100vh;
    & > main {
        flex-grow: 1;
    }
}

.navbar {
    height: 4rem;
    background-color: $bottom-bar-color;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    & > .navbar-button {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &.navbar-button-selected {
            color: $accent-text-color;
        }
        & > .navbar-button-icon {
            
        }

        & > .navbar-button-text {
            
        }
    }
}

.review-image {
    height: 430px-64px; // to make flow not wonky
    > img {
        height: 430px;
        position: absolute;
        top: -64px;
        width: 100vw;
        object-fit: cover;
    }
    > h1 {
        position: absolute;
        color: #fff;
        -webkit-text-stroke: 2px #000;
        font-size: 3rem;
        font-weight: 1000;
        text-shadow: 0 5px #000,1px 5px #000,-1px 5px #000;
        width: 100%;
        text-align: center;
        letter-spacing: -0.25px;
        font-family: "Inter", "system-ui"; // the outline goes haywire
        z-index: 1;
    }
    > .review-image-blur {
        position: relative;
        top: 430px-128px;
        height: 64px;
        mask: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 10%, rgba(0,0,0,1) 50%);;
	    backdrop-filter: blur(16px);
    }
}